h3 {
  margin: 10px 0;
}

body {
  background-color: #eff1f1;
}

p {
  margin: 5px
}

.app {
  display: flex;
  flex-direction: column;
  font-family: effra,sans-serif;
  font-style: normal;
  margin: auto;
  max-width: 640px;
}

.app-header {
  display: flex;
  flex-direction: column;
  padding:10px 0
}

.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
  cursor: pointer;
  border-radius: 16px;
  margin: 0 4px;
  max-width: 230px;
  width: 50%;
  background-color: white;
  padding: 30px;
  margin: 10px;
  flex: 50% 1;
  border: 2px solid transparent;
  transition: 0.25s;
}

.tile:hover {
  border: 2px solid #5b2f91;
}

.tile .icon {
  padding-right: 10px;
}

.tile .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
