.app {
  display: flex;
  flex-direction: column;
  font-family: effra,sans-serif;
  font-style: normal;
  margin: auto;
  max-width: 640px;
}

.app-header {
  display: flex;
  flex-direction: column;
  padding:10px 0
}
